@{
    ViewBag.Title = "Home Page";
}

<h1>The World</h1>
<p>This will be a fun website soon!</p>

<form>
    <label>Date</label>
    <input />
    <label>Location</label>
    <input />
    <input type="submit" value="Add" />
</form>